@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

//Font size

$body-font-size: 15px;
$title-font-size:50px;

//Text Colors

$body-text-color: #918DC7;
$title-text-color: #353382;

//Color

$blue: #928BF9;
$white: #FFFFFF;

//Gredient Colors

$yellow-bg: linear-gradient(89.49deg, #FFA665 0.44%, #FFCB68 99.62%);
$purple-bg: linear-gradient(129.13deg, #E67AC8 7.95%, #AA82E9 91.29%);
$blue-bg: linear-gradient(129.13deg, #00E8F7 7.95%, #329DFF 91.29%);
$green-bg: linear-gradient(129.13deg, #F6FF8A 7.95%, #00FF30 91.29%);


//Custom Classes



//Navbar



//Features Section



//Courses Section



//Stats



//Pricing Section



//Newsletter Section



//Footer



//Responsiveness